{
    "extends": [
      "react-app",
      "react-app/jest",
      "eslint-config-teacode"
    ],
    "rules": {
      "react/display-name": "off",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    }
  }