.App {
  text-align: center;
  background-color: rgb(185, 180, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
.App-header > * {
  margin: 10px 0;
}
.App-header > .MuiTextField-root {
  width: 80%;
}

.App-link {
  color: #61dafb;
}

.Sub-title {
  font-Size: '16px'; 
  font-weight: 'normal';}
